{%extends 'layout.html'%}

{%block titulo%}Artista seleccionado{%endblock%}


{%block cuerpo%}

{% if insertado %}
    <h2>¡ {{nombre}} ya sabemos cual es tu artista favorito del momento!.</h2>
{% else %}
    <h2>Lo sentimos, {{nombre}}, no hemos podido saber cual es tu artista favorito actualmente.</h2>
{% endif %}
<br><br><br>
<div>
    <form action = "{{url_for('home')}}" method="GET">
        <p><input type="submit" name = "home" value = "Volver a la página principal."></p>
    </form>
</div>
{%endblock%}
