{%extends 'layout.html'%}

{%block titulo%}Registro{%endblock%}



{%block cuerpo%}

{%if insertado%}
    <br>
    ¡Gracias por registrarte!  
    <br><br><br>
<div>
    <form action = "{{url_for('home')}}" method="GET">
        <p><input type="submit" name = "home" value = "Volver a la página principal."></p>
    </form>
</div>
{%else%}
    <br>
    No se ha podido registrar este correo. 
    <br><br><br><br>

    <div>
        <form action = "{{url_for('registro')}}" method="GET">
            <p><input type="submit" name = "registro" value = "Registrarse"></p>
        </form>
    </div>
{%endif%}




{%endblock%}