
{%extends 'layout.html'%}
{%block titulo%}Bienvenido{%endblock%}

{%block cabecera%}
<h2>Aquí tienes tu histórico de artistas favoritos, {{nombre}}:</h2>
{%endblock%}


{%block cuerpo%}

<table id = "tabla">
    <thead>
       {% for col in columnas %}
       <th>{{col.capitalize()}}</th>
       {% endfor %}
    </thead>
    
    {% for fila in filas %}
       <tr>
          {% for col in columnas %}
          <td>{{fila[col]}}</td>
          {% endfor %}
       </tr>
    {% endfor %}
 </table>

 <br><br><br>
 <br><br><br>
 <div>
   <form action = "{{url_for('home')}}" method="GET">
       <p><input type="submit" name = "registro" value = "Volver a la página principal"></p>
   </form>
 </div>
 {%endblock%}